body {
	font: 15px/2 Candara;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* GLOBAL */

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1{
	background-color: rgba(4,159,108,1);
	height: 34px;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
}

.dark {
	padding: 15px;
	background: radial-gradient(circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1%);
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	border-radius: 15px 50px;
	border-right-style: solid;
	border-bottom-style: solid;
}
/*HEADER*/

header {
	background: radial-gradient(circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1%);
	color: #ECF0F1;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #29292c 5px none;
}

header a {
	color: #ECF0F1;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

header ul {
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a {
	color:#000000;
	font-weight: bold;
}

header a:hover {
	color: #000000;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
}

/* SHOWCASE */

#showcase{
	min-height: 400px;
	background: url('../img/yop.jpeg') no-repeat 33px -50px;
	text-align: center;
	color: #FFFFFF;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 18px;
}

/* SUSCRIPCION */

#newsletter{
	padding: 15px;
	color: #29292c;
	background: linear-gradient(to left, rgba(194,254,113,1), #FFFFFF);
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 20px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	widows: 250px;
}

/* boxes */

#boxes {
	margin-top: 25px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;	
}

#boxes .box img{
	width: 250px;
}

footer {
	padding:20px;
	margin-top:20px;
	background: radial-gradient(circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgba(194,254,113,1) 90.1%);
	text-align: center;
	color: #ECF0F1;
}

/* SOBRE MI */

aside#sidebar {
	float:right;
	width: 30%;
	margin-top: 10px;
}

article#main-col {
	float:left;
	width: 65%;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
	header #branding, 
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	header {
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top: 0;
	}
	#newsletter button{
		display: block;
		width: 100%;
	}
	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
}
